.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: coral;
    padding: 10px;
}

img {
    width: 80px;
}

.nav-list {
    list-style-type: none;
    display: flex;
}

.nav-list li {
    padding-left: 10px;
}